/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  width: 1140px;
  margin: 24px auto;
  background-color: #fff;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  transition: 0.5s;
}

.gallery-item :hover {
  transform: scale(1.05);
}
