/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  width: 1140px;
  margin: 24px auto;
  background-color: #fff;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  transition: 0.5s;
}

.gallery-item :hover {
  transform: scale(1.05);
}

/*====== Form =======*/

.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;
  margin: 0 auto 50px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
}

textarea {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-bottom: 16px;
  margin-top: 16px;
}

button {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
